/* Global Styles  */

*,
:after,
:before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
/* Fonts */

@font-face {
  font-family: "Messina Sans", monospace;
  src: url("/fonts/MessinaSansMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Neue Montreal", sans-serif;
  src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
}

/*------------------------------------
 *   VARIABLES
 *------------------------------------*/

/**GLOBAL COLORS**/

$white: #fffef4;
$black: #000000;
$accent: #00ff6a;
$grey: #929292;

// OTHER VARIABLES

$display-on: visible;
$display-off: none;

/*------------------------------------
 *   MIXINS
 *------------------------------------*/

@mixin spacing($padding-size, $margin-size) {
  padding: $padding-size;
  margin: $margin-size;
}

.flex-container {
  @include spacing(2vw, 2vw);
}

@mixin headfont {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 700;
}

@mixin buttonfont {
  font-family: "Neue Montreal", sans-serif;
  font-size: 4vw;
}

@mixin body {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  color: $white;
}

@mixin body-small {
  font-family: "Messina Sans", monospace;
  font-size: 2vw;
}

h1 {
  @include headfont;
  color: $white;
  font-size: 11.8vw;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  line-height: 92%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  /* stop line wrap */
  white-space: nowrap;
  -webkit-text-stroke: 1px;
  margin: 0;
}

h2 {
  @include headfont;
  color: $grey;
  font-size: 4vw;
  line-height: 140%;
  font-size: 4vw;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

p {
  @include body;
  font-size: 4vw;
  color: $white;
}

p.p-col-1 {
  @include body;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: $white;
}

// style the list of projects mobile view (adjust later for desktop)
p.p-bold-col2 {
  text-align: justify;
}

p.p-bold-col2-sm {
  text-align: left;
  padding-left: 5vw;
}

.accordian-trigger {
  text-align: right;
}

.accordian-trigger img {
  width: 6vw;
}

@media screen and (min-width: 800px) {
  .accordian-trigger img {
    width: 1.5vw;
  }

  h1 {
    -webkit-text-stroke: 3px;
  }
}

// img {
//   /*  To contain the image to the confines of the div  */
//   max-width: 92vw;
// }

button.button-list p.p-bold-col2-sm,
.project-actions-link {
  @include body();
  margin: 0;
  font-size: 3.2vw;
}

footer p {
  @include body-small();
  margin: 0;
  font-size: 3.2vw;
}

button.button-list {
  p.p-bold-col2 {
    @include body;
    font-weight: 700;
  }
}

body {
  background-color: $black;
  margin: 0%;
}

// font sizes for desktop

@media screen and (min-width: 800px) {
  button.button-list p.p-bold-col2-sm,
  footer p,
  .project-actions-link {
    @include body-small();
    font-size: 1vw;
    font-weight: 400;
  }

  footer a {
    p:hover {
      color: $accent;
    }
  }

  p.p-col-1 {
    font-size: 1vw;
  }

  button.button-list {
    p.p-bold-col2 {
      font-size: 1.1vw;
    }

    p.p-bold-col2-sm {
      padding-left: 0;
    }
  }

  h2 {
    font-size: 1.3vw;
  }

  button.button-list {
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
      white-space: nowrap;
    }
  }

  li.col-2-li:hover {
    button.button-list {
      color: $accent;
    }
  }
}

// end font sizes for desktop

/* attempt at sizing arrow next to link in 3rd col  */

a.project-actions-link svg.home_arrow {
  max-width: 0.5vw;
}

// LIST STYLES

ul.p-col-1 {
  padding-left: 0;
}

li.p-col-1-list p {
  margin: 0;
}

ul {
  li {
    list-style: none;
  }
}

//STRUCTURE

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}

.header-container-mobile {
  display: block;
  width: 100%;
  position: relative;

  margin-left: auto;
  margin-right: auto;
}

.header-top-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.67vw;
  padding: 2vw 0vw 2vw 0vw;
  align-items: center;
}

.header-top-desktop,
.header-marquee-desktop {
  display: none;
}

.icons {
  grid-column: span 2;
  grid-column-end: auto;
  white-space: nowrap;
}

/* size the icons */
.icons img {
  min-width: 20px;
  margin: 2px;
  max-width: 6vw;
}

/* size the icons desktop */

@media screen and (min-width: 800px) {
  .icons img {
    min-width: 1.7vw;
    max-width: 2vw;
  }
}

/* contact button */

.header-button-mobile {
  grid-column-start: 4;
  align-items: flex-end;
}

.header-button-mobile {
  button {
    grid-column: 4;
    @include body;
    font-size: 5vw;
    font-weight: 700;
    margin: 0 0 0 0;
    border: none;
    // border: solid 1px $accent;
    color: $accent;
    background-color: transparent;
    text-align: end;

    padding: 1vw 2vw;
    border-radius: 2vw;
  }

  // button:hover {
  //   // background-color: $accent;
  // }
  a.menu {
    color: $accent;
    text-decoration: none;
    transition: all 0.2s ease-in;
  }

  a.menu:hover {
    color: $black;
    // background-color: $accent;
  }
}

// poput menu

.overlay {
  overflow: hidden;
  width: 100vw;
  height: auto;
  position: fixed;
  transition: 1s ease-in-out;
  right: -100vw;
  top: 0;
  bottom: 0;
  background-color: $black;
  opacity: 1;

  z-index: 99;
}

.overlay:target {
  transition: 1s ease-in-out;
  visibility: visible;
  opacity: 1;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.popup-menu {
  margin: 2vw;
  padding: 3vw;
  background-color: $black;

  height: 170vw;
  overflow-x: hidden;
  overflow-y: scroll;

  position: relative;
  transition: 1s ease-in-out;

  // border: 1px solid white;

  font-size: 4.27vw;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.01em;
}

.popup-menu > .close {
  position: sticky;
  top: 100px;
  left: 20px;
  opacity: 1;
}

.popup-menu > .close:target {
  position: fixed;
  top: 3vw;
  right: 3vw;
  opacity: 1;
  width: 5vw;
}

.header-button-mobile button,
.popup-menu button {
  background-color: transparent;
  // border: none;
  position: relative;

  a.menu {
    @include body;
    font-size: 5vw;
    font-weight: 700;
    margin: 0 0 0 0;
    border: solid 1px $accent;
    color: $accent;
    background-color: transparent;
    text-align: end;
    text-decoration: none;

    padding: 1vw 2vw;
    border-radius: 2vw;
  }
  a.menu:hover {
    background-color: $accent;
    color: $black;
  }
}

.popup-menu button {
  margin-bottom: 4vw;
  border: none;
  left: 75%;
  top: 2vw;
}

.popup-menu {
  .separator-mobile {
    width: 92vw;
  }
}

// form

.contact-form {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-column-gap: 1.7vw;
  // column-gap: 1.7vw; - for desktop

  display: inherit;
  background-color: black;
  color: white;

  font-family: "Neue Montreal", sans-serif;
}
.input-fields_label__OZ3Ib.p-xs.text-uppercase.text-muted {
  font-family: "Messina Sans", monospace;
  font-size: 2vw;
}

.input-fields_project .input-fields_checkbox span {
  width: fit-content;
  padding: 1vw 1vw;
  border-radius: 1.6vw;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.input-fields_input__bUDDv {
  @include headfont;
  color: $grey;
  font-size: 4vw;
  line-height: 140%;
  font-size: 4vw;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  width: 100%;
  background: transparent;

  border: 1px solid;
  display: flex;
  justify-content: space-between;

  box-shadow: inset 0 0 0 1000px transparent;
  padding: 4vw 4.3vw;
  height: 12.8vw;
  border-radius: 2.7vw;
  grid-column: span 1;

  margin-bottom: 1.7vw;

  flex-direction: column;
  align-items: flex-start;

  position: relative;
}

@media screen and (min-width: 800px) {
}

form {
  button.form-submit {
    @include headfont;

    font-size: 4vw;
    line-height: 140%;
    font-size: 4vw;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 2.7vw;
    padding: 4vw 4.3vw;

    color: $accent;

    margin-top: 2vw;
    width: 90vw;
    position: relative;
    left: 0;
  }

  button.form-submit:hover {
    background-color: $accent;
    color: $black;
  }
}

// poput menu end

@media screen and (min-width: 800px) {
  .header-top-desktop {
    visibility: visible;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-column-gap: 1.67vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    align-items: center;
  }

  .header-top-desktop {
    div.header-button {
      button {
        font-size: 1.1vw;
        padding: 0.2777777778vw 0.5555555556vw;
        border-radius: 0.6vw;
        border: solid 1px #00ff6a;

        color: #00ff6a;
        background-color: transparent;
        margin-left: 3vw;
      }

      button:hover {
        background-color: $accent;
      }
      a.menu {
        color: $accent;
        text-decoration: none;
        transition: all 0.2s ease-in;
      }

      a.menu:hover {
        color: $black;
        // background-color: $accent;
      }
    }
  }

  .header-top {
    padding-top: 0px;
  }
}

// STYLE THE SEPARATOR

.separator-mobile {
  width: 96vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separator-mobile {
  margin-right: 0;
}

.separator-line {
  display: flex;
  margin: 0 0.5vw 0 0.5vw;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  height: 1px;
  background-color: $grey;
  align-items: center;
}

.separator-icon {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  fill: $grey;
}

.separator {
  display: none;
}

@media screen and (min-width: 800px) {
  .separator {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .separator-mobile {
    display: none;
  }

  .separator-icon {
    width: 0.8vw;
    height: 0.8vw;
  }
}

/* styling the header title */

div.header-title {
  width: 96vw;
  text-shadow: 0 0 20px;
  font-weight: bolder;
  margin: 2.6vw 0 2.6vw 0;
}

@media screen and (max-width: 799px) {
  div.header-title-desktop {
    display: none;
  }
}

/* styling the header title */
@media screen and (min-width: 800px) {
  div.header-title-desktop {
    visibility: visible;

    text-shadow: 0 0 20px;
    font-weight: bolder;
  }

  div.header-title {
    display: none;
  }

  .header-top-mobile {
    display: none;
  }
}

/* marquee style  */

.header-marquee-mobile {
  grid-column: span 4;
  display: inline-block;
  overflow: hidden;
  text-align: initial;
  white-space: nowrap;
  transition: filter 0.3s ease-in-out;
  filter: blur(0px);
  font-weight: 700;
  letter-spacing: 0.01em;
}

div.marquee-inner {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
span.header-marquee-separator {
  margin: 0 1.1vw;
}

@media screen and (min-width: 800px) {
  .header-marquee-mobile {
    display: none;
  }

  .header-marquee-desktop {
    grid-column: 5/8;
    display: inline-block;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
  }

  .header-marquee-desktop:hover {
    filter: none;
  }

  .h2-header-marquee {
    filter: blur(1.5px);
    transition: filter 0.3s ease-in-out;
  }

  .h2-header-marquee:hover {
    filter: blur(0);
    transition: filter 0.3s ease-in-out;
  }

  .h2-header-marquee {
    font-weight: 700;
    letter-spacing: 0.01em;
  }

  div.marquee-inner {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
  }
  span.header-marquee-separator {
    margin: 0 1.1111111111vw;
  }
}
/* end marquee */

/* 
MAIN LAYOUT  */

.layout-main {
  display: flex;
  flex-grow: 1;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 800px) {
  .layout-main {
    overflow: hidden;
  }

  .main-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 1.67vw;
  }
}

section.col1 {
  grid-column: span 4;

  display: flex;
  flex-direction: column;
  position: relative;
  /* height: 80vh; */
  order: 2;
}

.col1-title,
.col2-title,
.col3-title {
  display: flex;
  top: 0;
  background-color: $black;
}

div.scrolling {
  flex-grow: 1;
  display: block;
  position: relative;
  padding-bottom: 4.5vh;
}

section.col2 {
  grid-column: span 4;
  position: relative;
  padding-bottom: 4.5vh;

  order: 0;
}

.projects-list ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

ul li.projects-list {
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
  padding-bottom: 4.5vh;

  width: 100%;
}

@media screen and (min-width: 800px) {
  section.col1 {
    grid-column: span 2;

    height: 80vh;

    border-right: 1px solid $grey;
    padding-right: 1.6vw;

    order: 0;
  }

  .col1-title,
  .col2-title,
  .col3-title {
    position: sticky;
    background-color: $black;
    z-index: 2;
  }

  div.scrolling {
    overflow: scroll;
    height: 80vh;
  }

  section.col2 {
    grid-column: span 2;
    overflow: scroll;
    height: 80vh;

    border-right: 1px solid $grey;
    padding-right: 1.6vw;
    order: 1;
  }

  /* attempt at syling pseduo element on hover  */
  ul li.col-2-li::before {
    display: none;
    content: "";
    height: 0.8vw;
    width: 0.8vw;
    position: relative;
    left: 1%;
    align-items: center;
    border-radius: 100%;
    background-color: #00ff6a;
    filter: blur(3px);
    /* opacity: 1; */
    /* transform: translateY(-50%); */
    transition: color 0.5s ease-in-out;
  }

  ul li.col-2-li:hover::before {
    display: block;
    transform: translate(0.8vw, 2vw);
  }

  ul li.col-2-li:hover {
    color: $accent;
  }

  button.button-list:hover {
    color: #00ff6a;
    transition: color 0.5s ease-in-out;
    padding-left: 3vw;
  }
}

/* 
styling the list of projects on mobile */
button.button-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;

  align-items: center;
  width: 100%;

  background-color: transparent;
  color: #fffef4;
  padding: 0;
  border-top: 1px solid grey;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  transition: color 0.5s ease-out, padding 0.5s ease-in;
}

button.button-list p.p-bold-col2-sm {
  white-space: nowrap;
}

@media screen and (min-width: 800px) {
  button.button-list {
    display: flex;
  }

  .accordian-trigger {
    display: none;
  }
}

// these are images to hide in desktop view

div.image-mobile-2,
div.image-mobile-3,
div.image-mobile-1 {
  position: relative;
  width: 100vw;
  margin: 0;
  left: 0;
}

div.image-mobile-2 img,
div.image-mobile-3 img,
div.image-mobile-1 img {
  width: 100vw;
}

div.image-mobile-2::after,
div.image-mobile-3::after,
div.image-mobile-1::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgb(0, 0, 0)
  );

  margin-top: -150px;
  height: 150px;
  width: 100vw;
  content: "";

  color: $accent;
  opacity: 1;
  z-index: 9;
}

div.image-mobile-3 {
  margin-top: 100px;
  bottom: 0;
}

@media screen and (max-width: 799px) {
  section.col3 {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  section.col3 {
    display: inherit;
    order: 3;
    grid-column: span 4;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 80vh;
    padding-bottom: 4.5vh;
  }

  .col3-title {
    display: flex;
    justify-content: space-between;
  }

  .col3-title h2 {
    display: flex;
    position: sticky;
    top: 10px;
  }

  // .project-actions-button {
  //   font-family: "Messina Sans Mono", monospace;
  //   background-color: transparent;
  //   color: #fffef4;
  //   border: none;
  //   font-size: 0.8vw;
  // }

  .project-actions {
    align-self: center;
  }

  a.project-actions-link {
    font-weight: 700;
  }

  a.project-actions-link svg {
    width: 5px;
  }

  // a.project-actions-link {
  //   font-family: "Messina Sans Mono", monospace;
  //   color: #00ff6a;
  // }

  .project-images-cont {
    display: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-gap: 0.5vw;
    margin-bottom: 0.5vw;
  }

  img.full,
  img.half {
    border-radius: 0.56vw;
  }

  img.full {
    object-fit: cover;
    grid-column: span 2;

    width: 100%;
    max-height: 100%;
  }

  img.half {
    object-fit: cover;
    grid-column: span 1;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
  }

  /* 
desktop col 3 only  */
  a .hometrigger {
    width: 1.7vw;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  // hide mobile images on desktop
  div.image-mobile-2,
  div.image-mobile-3,
  div.image-mobile-1 {
    display: $display-off;
  }
}

//gallery only seen when click on project list
.gallery {
  display: none;
}

@media screen and (max-width: 800px) {
  .gallery {
    position: fixed;
    inset: 0;
    z-index: -1;
    height: 100%;
    padding: 12vh 13vw;
    display: flex;
    transition: opacity 0.5s;
  }
}

// FOOTER YO!

.footer-container-mob {
  display: block;
  width: 92vw;
}

.footer-grid-mob {
  width: 96vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  row-gap: 4.8vw;
  column-gap: 4vw;
}

.footer-body-mob {
  display: flex;
  flex-direction: column;
}

// change for desktop
footer ul {
  padding-left: 0;
  width: 100vw;
}

a.footer-links,
a.project-actions-link {
  color: #fffef4;

  font-family: "Messina Sans", monospace;
  transition: all 0.95s cubic-bezier(0.19, 1, 0.22, 1);
  font-weight: 400;
  line-height: 3em;
}

.muted span p {
  display: inline;
  color: $grey;
  justify-content: space-between;
  white-space: nowrap;
}

div.mob-footer-1 {
  grid-column: span 4;
}

ul div.mob-footer-2 {
  grid-column: 1/2;
}

ul div.mob-footer-3 {
  grid-column: 3;
}

ul div.mob-footer-4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer-body {
  display: none;
}

.footer-container-mob {
  .separator {
    width: 96vw;
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 800px) {
  // hide overflow on desktop
  body {
    overflow: hidden;
  }

  footer ul {
    width: auto;
  }
  footer p {
    padding: 1vw 0 0 0;
  }

  .footer-container-mob {
    display: none;
  }
  /* FOOTER STUFF YO */

  .footer-container {
    display: block;
  }

  .footer-container {
    .separator {
      margin: 0.5vw 0.5vw 0 0.5vw;
    }
  }

  .footer-grid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .footer-grid ul {
    padding-left: 4vw;
  }

  ul.col1-footer {
    grid-column: 2;
  }

  ul.col2-footer {
    grid-column: 3;
  }

  ul.col3-footer {
    grid-column: 4;
  }

  ul.col4-footer {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 7;
  }

  .footer-body {
    display: flex;
    flex-direction: row;
  }

  .muted {
    color: #929292;
    white-space: nowrap;
  }

  a.footer-links,
  a.project-actions-link {
    color: #fffef4;
    text-decoration: none;
    font-family: "Messina Sans", monospace;
    display: inline-block;
    position: relative;
    line-height: 1em;
    transition: transform 0.25s ease-out;
    font-weight: 500;
  }

  a.project-actions-link {
    margin-right: 1vw;
  }

  a.footer-links:hover,
  a.project-actions-link:hover {
    color: #00ff6a;
  }

  a.footer-links::after,
  a.project-actions-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00ff6a;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }

  a.footer-links:hover::after,
  a.project-actions-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
