/* Global Styles  */

*,
:after,
:before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Fonts */

@font-face {
  font-family: "Messina Sans", monospace;
  src: url("/fonts/MessinaSansMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Neue Montreal", sans-serif;
  src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
}

/*------------------------------------
 *   VARIABLES
 *------------------------------------*/

/**GLOBAL COLORS**/

$white: #fffef4;
$black: #000000;
$accent: #00ff6a;
$grey: #929292;

/**SCREEN SIZES - not sure how to do this yet.....**/

// @mixin mobile: "only screen and (max-width: 799px)";
// $desktop: "only screen and (min-width: 800px)";
// $tablet: "only screen and (max-width: 1024px) and (min-width:800px)";
// $desktopXL: "only screen and (min-width: 1649px)";

// OTHER VARIABLES

$display-on: visible;
$display-off: none;

/*------------------------------------
 *   MIXINS
 *------------------------------------*/

@mixin spacing($padding-size, $margin-size) {
  padding: $padding-size;
  margin: $margin-size;
}

.flex-container {
  @include spacing(2vw, 2vw);
}

@mixin headfont {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 700;
}

@mixin buttonfont {
  font-family: "Neue Montreal", sans-serif;
  font-size: 4vw;
}

@mixin body {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  color: $white;
}

@mixin body-small {
  font-family: "Messina Sans", monospace;
  font-size: 2vw;
}

h1 {
  @include headfont;
  color: $white;
  font-size: 11.2vw;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  line-height: 92%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  /* stop line wrap */
  white-space: nowrap;

  margin: 0;
}

h2 {
  @include headfont;
  color: $grey;
  font-size: 4vw;
  line-height: 140%;
  font-size: 4vw;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

p {
  @include body;
  font-size: 4vw;
  color: $white;
}

p.p-col-1 {
  @include body;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: $white;
}

// style the list of projects mobile view (adjust later for desktop)
p.p-bold-col2 {
  text-align: justify;
}

p.p-bold-col2-sm {
  text-align: left;
  padding-left: 5vw;
}

.accordian-trigger {
  text-align: right;
}

.accordian-trigger img {
  width: 4vw;
}

img {
  /*  To contain the image to the confines of the div  */
  max-width: 92vw;
}

button.button-list p.p-bold-col2-sm,
.project-actions-link {
  @include body();
  margin: 0;
  font-size: 3.2vw;
}

footer p {
  @include body-small();
  margin: 0;
  font-size: 3.2vw;
}

button.button-list {
  p.p-bold-col2 {
    @include body;
    font-weight: 700;
  }
}

body {
  background-color: $black;
}

// font sizes for desktop

@media screen and (min-width: 800px) {
  button.button-list p.p-bold-col2-sm,
  footer p,
  .project-actions-link {
    @include body-small();
    font-size: 0.8vw;
  }

  p.p-col-1 {
    font-size: 1vw;
  }

  button.button-list {
    p.p-bold-col2 {
      font-size: 1.3vw;
    }
  }
}

// end font sizes for desktop

/* attempt at sizing arrow next to link in 3rd col  */

a.project-actions-link svg.home_arrow {
  max-width: 0.5vw;
}

// LIST STYLES

ul.p-col-1 {
  padding-left: 0;
}

li.p-col-1-list p {
  margin: 0;
}

ul {
  li {
    list-style: none;
  }
}

//STRUCTURE

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-container {
  display: block;
  width: 100%;
  position: relative;

  margin-left: auto;
  margin-right: auto;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.67vw;
  padding: 4vw 2vw 2vw 2vw;
  align-items: center;
}

.icons {
  grid-column: span 1;
  grid-column-end: auto;
  white-space: nowrap;
}

/* size the icons */
.icons img {
  min-width: 20px;
  margin: 2px;
}

/* size the icons desktop */

@media screen and (min-width: 800px) {
  .icons img {
    max-width: 25px;
  }
}

/* contact button */

.header-button {
  grid-column-start: 4;
  align-items: flex-end;
}

div.header-button {
  button {
    grid-column: 4;
    @include body;
    font-size: 5vw;
    font-weight: 700;
    margin: 0 0 0 20px;
    border: solid 1px $accent;
    color: $accent;
    background-color: transparent;
    text-align: end;

    padding: 1vw 2vw;
    border-radius: 2vw;
  }
}

@media screen and (min-width: 800px) {
  div.header-button {
    button {
      font-size: 1.1vw;
      padding: 8.4px 16.8px 8.4px 16.8px;
      border-radius: 0.6vw;
    }
  }
}

// STYLE THE SEPARATOR

.separator {
  width: 92vw;
  display: flex;
  align-items: center;
}

.separator-line {
  display: flex;
  margin: 0 0.5vw 0 0.5vw;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  height: 0.4vw;
  background-color: grey;
  align-items: center;
}

.separator-icon {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  fill: $grey;
}

@media screen and (min-width: 800px) {
  .separator-icon {
    width: 0.8vw;
    height: 0.8vw;
  }
}

/* styling the header title */

div.header-title {
  width: 92vw;
  text-shadow: 0 0 20px;
  font-weight: bolder;
  margin: 2.6vw 0 2.6vw 0;
}

/* marquee style  */

.header-marquee {
  grid-column: span 4;
  display: inline-block;
  overflow: hidden;
  text-align: initial;
  white-space: nowrap;
  transition: filter 0.3s ease-in-out;
  filter: blur(0px);
  font-weight: 700;
  letter-spacing: 0.01em;
}

div.marquee-inner {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
span.header-marquee-separator {
  margin: 0 1.1vw;
}

@media screen and (min-width: 800px) {
  .header-marquee {
    filter: blur(1.5px);
  }
  .header-marquee:hover {
    filter: blur(0px);
  }
}
/* end marquee */

/* CONTACT FORM HIDE using opacity UNTIL CONTACT CLICKED */
.contact-heading {
  .separator {
    width: 96vw;
  }
}

.contact-form-cont {
  opacity: 0;
  z-index: -1;
}

.contact-form-cont:active {
  opacity: 1;
  z-index: 10;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  max-height: 100vh;
  min-height: 100vh;
  background-color: #000;
  z-index: 10;
  transition: transform 1s ease-out;
  width: 100%;
  padding: 4.3vw 2.2vw;
}

// end contact form so far.....

/* 
MAIN LAYOUT  */

.layout-main {
  display: flex;
  /* overflow: visible; */
  flex-grow: 1;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 800px) {
  .main-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 1.67vw;
  }
}

section.col1 {
  grid-column: span 4;

  display: flex;
  flex-direction: column;
  position: relative;
  /* height: 80vh; */
  order: 2;
}

.col1-title,
.col2-title,
.col3-title {
  display: flex;
  top: 0;
  background-color: $black;
}

div.scrolling {
  flex-grow: 1;
  display: block;
  position: relative;
  padding-bottom: 4.5vh;
}

section.col2 {
  grid-column: span 4;
  position: relative;
  padding-bottom: 4.5vh;

  order: 0;
}

.projects-list ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

ul li.projects-list {
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
  padding-bottom: 4.5vh;

  width: 100%;
}

/* attempt at syling pseduo element on hover  */
ul li.projects-list::before {
  content: "";
  height: 0.8vw;
  width: 0.8vw;
  position: absolute;
  left: 1%;
  top: 50%;
  border-radius: 100%;
  background-color: #00ff6a;
  filter: blur(3px);
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.5s ease-in-out;
}

ul li.col-2-li::before:hover {
  opacity: 1;
  margin-left: 20px;
}

/* 
styling the list of projects  */
button.button-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;

  align-items: center;
  width: 100%;

  background-color: transparent;
  color: #fffef4;
  padding: 0;
  border-top: 1px solid grey;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  transition: color 0.5s ease-out, padding 0.5s ease-out;
}

button.button-list:hover {
  color: #00ff6a;
  transition: color 0.5s ease-in-out;
}

@media screen and (min-width: 800px) {
  section.col1 {
    border-right: 1px solid grey;
    padding-right: 1.6vw;

    order: inherit;
  }

  .col1-title,
  .col2-title,
  .col3-title {
    position: sticky;
  }

  div.scrolling {
    overflow: scroll;
    height: 80vh;
  }

  section.col2 {
    overflow: scroll;
    height: 80vh;
    border-right: 1px solid $grey;
    padding-right: 1.6vw;
  }
}

// these are images to hide in desktop view

div.image-mobile-2,
div.image-mobile-3,
div.image-mobile-1 {
  width: 100%;
  margin: 0;
}

div.image-mobile-2::after,
div.image-mobile-3::after,
div.image-mobile-1::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgb(0, 0, 0)
  );

  margin-top: -150px;
  height: 150px;
  width: 92vw;
  content: "";

  color: $accent;
  opacity: 1;
  z-index: 9;
}

div.image-mobile-3 {
  margin-top: 100px;
}

section.col3 {
  display: $display-off();
}

@media screen and (min-width: 800px) {
  section.col3 {
    display: $display-on();
    grid-column: span 4;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 80vh;
    padding-bottom: 4.5vh;
  }

  .col3-title {
    display: flex;
    justify-content: space-between;
  }

  .col3-title h2 {
    display: flex;
    position: sticky;
    top: 10px;
  }

  .project-actions-button {
    font-family: "Messina Sans Mono", monospace;
    background-color: transparent;
    color: #fffef4;
    border: none;
    font-size: 0.8vw;
  }

  a.project-actions-link svg {
    width: 10px;
  }

  a.project-actions-link {
    font-family: "Messina Sans Mono", monospace;
    color: #00ff6a;
  }

  .project-images-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    grid-gap: 0.5vw;
    margin-bottom: 0.5vw;
  }

  img.full,
  img.half {
    border-radius: 0.56vw;
  }

  img.full {
    object-fit: cover;
    grid-column: span 2;

    width: 100%;
    max-height: 100%;
  }

  img.half {
    object-fit: cover;
    grid-column: span 1;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
  }

  /* 
desktop col 3 only  */
  a .hometrigger {
    width: 1.7vw;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  // hide mobile images on desktop
  div.image-mobile-2,
  div.image-mobile-3,
  div.image-mobile-1 {
    display: $display-off;
  }
}

// FOOTER YO!

.footer-container {
  width: 92vw;
  height: 100vh;
}

.footer-grid {
  width: 92vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  row-gap: 4.8vw;
  column-gap: 4vw;
}

.footer-body {
  display: flex;
  flex-direction: column;
}

footer ul {
  padding-left: 0;
  width: 100vw;
}

a.footer-links,
a.project-actions-link {
  color: #fffef4;

  font-family: "Courier New", Courier, monospace;
  transition: all 0.95s cubic-bezier(0.19, 1, 0.22, 1);
  font-weight: 400;
  line-height: 200%;
}

a.project-actions-link {
  text-decoration: none;
}

a.footer-links:hover,
a.project-actions-link:hover {
  color: #00ff6a;
  text-decoration: underline;
  transition: all;
}

.muted {
  color: $grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.mob-footer-1 {
  grid-column: span 4;
}

ul div.mob-footer-2 {
  grid-column: 1/2;
}

ul div.mob-footer-3 {
  grid-column: 3;
}

ul div.mob-footer-4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (min-width: 800px) {
  .footer-grid {
    width: 100vw;
  }

  .footer-body {
    display: flex;
    flex-direction: row;
  }

  footer.separator {
    display: grid;
    grid-column: span 8;
    margin: 0 0.5vw 0 0.5vw;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 1px;
    background-color: $grey;
  }
}
